<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uasproject">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="RentalAppsK1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailSewa"
            android:parentActivityName=".ActivitySewa"
            />

        <activity android:name=".DetailMobil"
            android:parentActivityName=".DaftarMobilActivity"
            />

        <activity android:name=".ActivitySewa"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".DaftarMobilActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>